<h1>Compact Disk Details: </h1>

<h2>@Model["compactdisk"].GetTitle()</h2>
<h3>Artist: @Model["artist"].GetName()</h3>

<a href='/artists/@Model["artist"].GetId()/compactDisks/new'>Add another compact disk</a>
<a href='/artists'>View all artists</a>
